@media only screen and (min-width: 64em) {
    .forecast{display: block;}
   nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    nav ul.hide{display: block;}
    nav ul li {float: left;}
    
    .Grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr) );
        
    }
    Grid-cell figure img {
        display: grid; 
        width: 100%;
        align-content: center;
  }
    main figure img:hover{
        box-shadow: 8px 8px 4px grey;
         
    }
}