@media only screen and (min-width: 64em) {
    main {
        margin: 0 30px;
    }
    footer { margin: 0 30px;}
    .forecast{display: block;}
   nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    nav ul.hide{display: flex;}
    
    .Grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr) );
    }
    figcaption {
        padding: 20px 0;
    }
    main figure img:hover{
        box-shadow: 8px 8px 4px grey;
         
    }
    div.cityInfo {
        display: inline-flex;
        justify-content: space-around;
        }
    div.polaroid {
        width: 30%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 25px;
    }
    div.container {
        text-align: justify;
        padding: 4px 50px;
        }

}