/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;  /*Declare the base font-family */
    background-color:#F0F8FF;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1900px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    height: 110px;
    }
    .logo {
        width: 100%;
        margin: -10px;
        padding: 0;
    }
    .logo2{
        font-family: 'Cabin Sketch', cursive;
        margin: 6px;
        font-weight: bolder;
        font-size: 400%;}
    .logo3 {
        font-family: 'Homemade Apple',cursive;
        font-weight: 100;
        padding: 6px;}
.main {
    display: flex;
    flex-direction: column;}
    .main figure img {
        display: flex;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
}

nav {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(96,96,96,.8);
    }
    nav button {
        display:flex;
        margin: .2rem 2%;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        }
    nav ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }
        nav ul li { 
            display: block;
            align-content: center;
            }
            nav ul li a {
                display: flex;
                padding: 14px 16px;
                color: black;
                text-decoration: none;
                border-top: 1px solid rgba(0,0,0,0.2);
                width: 100%;
                }
                nav ul li.active a {
                    background-color: rgba(0,0,0,.6);
                    color: white;
                    }
                nav ul li a:hover {
                        background-color: rgba(0,0,0,.3);
                        color: white;
                        }
    nav ul.hide{
        display: none;
        }
main {
    padding: 10px;
    margin: 12px;
}

main h1{
    font-weight: bolder;
    text-align: center;
}

main h2 {text-align: center;}

main h3 {
    margin: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: center;}
    .wsum{display: none;}
.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    }
 .mainPic {
    display: flex;
    margin: 20px;
     padding-bottom: 25px;
    flex-direction: column;
    border: 0;
    flex-direction: column;
    align-self: center;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;}
.town-article {
    margin: 30px;
}
main #homeImg img {
    display: flex;
    align-self: center;
    width: 100%;
    height:auto;}
.forecast {display: none;}
.summary {
    display: none;
    border-collapse: collapse;
    box-shadow: 5px 10px 8px #888888;;
    border: 1px solid darkgrey;
    table-layout: fixed;
    width: 100%;
    background: white;}
    .summary th {
        background: lightgrey;
        padding: 5px;
        text-align: center;
    }
    .summary td {
        padding: 5px;
        text-align: center;
    }
.tempsum {
        margin: auto;
        padding: 2px;
        align-self: center;
        border-collapse: collapse;
}
    .tempsum th {
    margin: 0;
    padding: 8px;
    background: lightgrey;
}
        .tempsum td { 
    margin: 0;
    padding: 2px;
    background: white;}
.daytable, th, td {
    border-collapse: collapse;
    box-shadow: 5px 10px 8px #888888;;
    border: 1px solid darkgrey;
    table-layout: fixed;
    width: 100%;
    background: white;
    }
    .daytable th{ 
        background: lightgrey;
        padding: 5px;
        text-align: center;
    }
        .daytable td{ 
        padding: 5px;
        text-align: center;}
.grid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;}
    .cell {
        text-align: center;
        padding: 0 0 25px;}
        .grid .cell img { 
            width: 100%;}

.formintro {
            margin: 12px;
            align-items: center;
            justify-content: center;
        }
.form {
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        background: white;
        border: 1px solid lightgrey;
        box-shadow: 6px 6px 6px lightgrey;
        align-items: center;
    }
        #info {
                margin: 2px;
            }
        .comments{ width: 100%;}
.main2 {
    display: flex;       
    }
.thanks {
    margin: 10px;
    padding: 80px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background: white;
    box-shadow: 2px 2px 2px grey;}
.thx { 
    font-size: 120%;
}
.relatedinfo {
    text-align: left;
    margin-right: 50%;
    margin-bottom: 12px;
    margin-left: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid grey;}
.cityInfo {display: none;}
.aside {
    background-color: skyblue;
    padding: 8px;
    }
footer {
    height: 100px;
    align-content: center;
    background-color: darkgrey;}
    .footer{
    margin: 0;
    display: flex;
    flex-direction: column;}
