@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    main {margin: 0 30px;}
    .forecast {
        display: block;
        width: 80%;
        align-self: center;
    }
    section.forecast {}  /* show the 10-day forecast with the medium view and up */
    nav {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */}
 
    nav ul.hide {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;}
    nav button {display: none;}
    nav ul li {
        display: inline-flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        }
        
    nav ul li a {
        border: none;
        align-content: space-around;
        }
    h2 {text-align: center;}
    .summary {
        display: table;
        border-collapse: collapse;
        box-shadow: 5px 10px 8px #888888;;
        border: 1px solid darkgrey;
        align-self: center;
        width: 80%;
        background: white;}
            .summary th {
                background: lightgrey;
                padding: 5px;
                text-align: center;
            }
                .summary td {
                    padding: 5px;
                    text-align: center;
                }
    .tempsum {display: none;}
    .wsum {display: flex;
            justify-content: center;}
    .Grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em;
        margin:1em;
    }
    
    Grid-cell figure img {
        display: grid; 
        width: 100%;   
    }
    figcaption { display: grid;}
    .gallerymain {
        display: grid;
        width: 100%;
        margin: 0;
        padding: 0; 
    }
    .main1 {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;}
        .form {
            display: flex;
            justify-content: center;
            padding: 8px;
            width: 450px;
            background: white;
            border: 1px solid grey;
            box-shadow: 6px 6px 6px grey;
        }
            .formintro {
                margin: 12px;
                align-items: center;
                justify-content: center;
            }
                #info {
                    margin: 2px;
                }
    .main #homeimg { 
        margin: 0;
        display: block;
        width: 70%;}
    div.cityInfo {
        display: block;}
    div.polaroid {
        width: 50%;
        height: auto;
        background-color: white;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div.container {
        text-align: justify;
        padding: 4px 50px;
        
    }
   /*     */
    
        footer {
            text-align: center;
        }
    }