/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font: Cambria, Helvetica;  /* Declare the base font-family */
  background-color:#F0F8FF;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: ______; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {list-style-type: none;
margin: 0;
padding: 14px;
overflow: hidden;
background: #808080;}
nav ul li { display: inline;}
nav ul li a {display: inline;
    padding: 14px 16px;
   color: white;
text-decoration: none}
nav ul li.active a {;
color: white;}
nav ul li a:hover {background-color: #D3D3D3;
color: black;}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
}
.forecast {display: none;}
table, th, td {
    border: 1px solid black;}
footer {}