/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;  /*Declare the base font-family */
    background-color:#F0F8FF;

}

header, nav, main, footer { /* the comma        between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: ______; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;}
    .logo2{
        font-family: 'Cabin Sketch', cursive;
        margin: 6px;
        font-weight: bolder;
        font-size: 400%;}
    .logo3 {
        font-family: 'Homemade Apple',cursive;
        font-weight: 100;
        padding: 6px;}
.navarea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }   
.main {
    display: flex;
    flex-direction: column;}
.footer{
    display: flex;
    flex-direction: column;}
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(96,96,96,.8);
    }
    nav button {
        display: flex;
        margin: .2rem 2%;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }
        nav ul li { 
            display: flex;
            }
            nav ul li a {
                display: flex;
                padding: 14px 16px;
                color: black;
                text-decoration: none;
                border-top: 1px solid rgba(0,0,0,0.2);
                }
                nav ul li.active a {
                    background-color: rgba(0,0,0,.6);
                    color: white;
                    }
                nav ul li a:hover {
                        background-color: rgba(0,0,0,.3);
                        color: white;
                        }
    nav ul.hide{
        display: none;
        }
main {
    margin: 12px;
}
main h2 {}
main figure { 
    margin: 0 0 .2rem 2%;
    width:96%; }
main figure img {  
    width: 60%; 
    height: auto;
}
main picture img {
    margin: 0px;
    width: 50px; 
    height:50px;}
.forecast {
    display: none;}
main table, th, td {
    border: 1px solid black;}
.Grid {
    display: grid;
    justify-items: center;
}

footer {
    margin: 12px
}

/*-- Below is my the old CSS usings Floats etc...
header {
    margin: 12px;
}
header h1 {
    font-family: 'Cabin Sketch', cursive;
    margin: 0;
    font-weight: bolder;
    font-size: 400%;
    display: block;
}
header h2{
    font-family: 'Homemade Apple',cursive;
    font-weight: 100;
}
header figure.logo {
    margin: 0;
    float: left;
    width:200px; 
    height: auto;}

nav {
    clear: left;
    background-color: rgba(96,96,96,.8);}
nav button {
    margin: .2rem 2%;
    background: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
nav ul li { display: inline;}
nav ul li a {
    display: block;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.2);}
nav ul li.active a {
    background-color: rgba(0,0,0,.6);
    color: white;}
nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
    color: white;}
nav ul.hide{
    display: none;
}
main {
    margin: 12px;
}
main h2 {}
main figure { 
    margin: 0 0 .2rem 2%;
    width:96%; }
main figure img {  
    width: 60%; 
    height: auto;
}
main picture img {
    margin: 0px;
    width: 50px; 
    height:50px;}
.forecast {
    display: none;}
main table, th, td {
    border: 1px solid black;}
footer {
    margin: 12px
}
*/
